.swiper-container {
    height: 32rem;
    max-height: 50vh;
    width: 50%;
    padding: 2%;
    background-color: #f7f7f7;
    border: 1px solid #3333;
    border-radius: 25px;
    margin-top:15px;
  }
  
  .swiper-slide {
    max-width: 42%;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
    object-fit: contain;
  }
  .swiper-slide {
    filter: grayscale(100%);
  }
  .swiper-slide-active {
    filter: grayscale(0);
  }
  .swiper-slide p {
    position: absolute;
    color:black;
    bottom: 0;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  @media screen and (max-width: 720px) {
    .swiper-container {
      height: 15rem !important;
      width:100%;
      margin-top: 0;
      border-radius: 0
    }
  }
  